// @media (max-width: 992px){
//     .main-screen{
//         .main-screen_item{
//             height: 300px;
//         }
//     }
// }
@media screen and (max-width: 768px){
    header{
        padding-top: 60px;
        .navbar-light .navbar-nav .nav-link{
            color: #000;
        }
        .navbar-collapse{
            background: #F5F5F4;
            z-index: 3;
        }
    }
    .main-screen{
        &_item{
            height: 150px;
        }
        .slick-dots{
            padding-left: 15px;
            bottom: -10px;
        }
    }
    .for_family{
        background-image: none;
        .slick-arrow{
            top: -129px;
        }
    }
    .faq{
        .faq_info_wrap{
            padding: 37px;
            display: block;
            margin: 0 auto;
            margin-top: 10px;
            max-width: 280px;
        }
        .faq_all {
            font-size: 14px; 
        } 
    }
       
}
@media screen and (max-width: 350px){
    header{
        padding-top: 30px;
    }
    .main-screen{
        &_item{
            height: 100px;
            padding: 0;
        }
        &_title{
            margin-top: 15px;
            font-size: 12px;
            line-height: 16px;
            width: 75%;
            margin-bottom: 0;
        }
        &_subtitle, &_subtitle > *{
            width: 80%;
            font-size: 12px;
        }
        .slick-dots{
            button{
                width: 18px;
                height: 1px;
            }
        }
    }
    
    .for_family{
        padding-top: 40px;
        .for_family_header{
            margin-bottom: 10px;
        }
        .slick-arrow{
            top: -101px;
        }
    }
    .faq{
        padding: 15px 0;
        .faq_item_question{
            font-size: 14px;
        }
        .faq_info_wrap{
            padding: 37px;
            display: block;
            margin: 0 auto;
            margin-top: 10px;
            max-width: 280px;
        }
        
        .faq_all {
            font-size: 14px; 
        } 
    }
    
    .events{
        padding-top: 40px;
        .events_header{
            margin-bottom: 10px;
        }
        .slick-arrow{
            top: -101px;
        }
        .events_btn{
            margin-top: 5px;
        }
    }
}
