// @media (max-width: 992px){
//     .main-screen{
//         .main-screen_item{
//             height: 300px;
//         }
//     }
// }
@media (max-width: 768px){
    .for_family{
        background-image: none;
        .slick-arrow{
            top: -129px;
        }
    }
       
}
@media (max-width: 350px){
    .main-screen{
        &_item{
            height: 100px;
            padding: 0;
            background-position: center !important ;
            background-repeat: no-repeat !important ;
            background-size: cover !important ;
        }
        &_title{
            margin-top: 15px;
            font-size: 12px;
            line-height: 16px;
            width: 75%;
            margin-bottom: 0;
        }
        &_subtitle, &_subtitle > *{
            width: 80%;
            font-size: 12px;
        }
        .slick-dots{
            position: absolute;
            display: flex;
            padding-left: 15px;
            bottom: -15px;
            button{
                width: 18px;
                height: 1px;
            }
        }
    }
    
    .for_family{
        padding-top: 40px;
        .for_family_header{
            margin-bottom: 10px;
        }
        .slick-arrow{
            top: -101px;
        }
    }
    .faq{
        padding: 15px 0;
        .faq_info_wrap{
            padding: 37px;
            display: block;
            margin: 0 auto;
            margin-top: 10px;
            max-width: 280px;
        }
        
        .faq_all {
            font-size: 14px; 
        } 
    }
    
    .events{
        padding-top: 40px;
        .events_header{
            margin-bottom: 10px;
        }
        .slick-arrow{
            top: -101px;
        }
        .events_btn{
            margin-top: 5px;
        }
    }
}
